<div class="logo">
  <a routerLink="/table-list" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Friends
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/table-list">
        <i class="material-icons">content_paste</i>
        <p>Utilisateurs</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/user-profile/{{ userId }}">
        <i class="material-icons">person</i>
        <p>Profile</p>
      </a>
    </li>

    <li routerLinkActive="active" class="nav-item" *ngIf="isAdmin == true">
      <a class="nav-link" routerLink="/interet">
        <i class="material-icons">emoji_flags</i>
        <p>Interet</p>
      </a>
    </li>
    <li class="active-pro nav-item" (click)="logout()">
      <a class="nav-link">
        <i class="material-icons">logout</i>
        <p>Déconnexion</p>
      </a>
    </li>
  </ul>
</div>
