<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="!submitted && isAdmin == true">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajouter Utilisateur</h4>
          </div>
          <div class="card-body">
            <form
              class="example-form"
              #formuser="ngForm"
              (ngSubmit)="saveUser()"
            >
              <mat-card-content>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        required
                        matInput
                        placeholder="Prenom"
                        [(ngModel)]="userN.firstName"
                        name="userForm.firstName"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        required
                        matInput
                        placeholder="Nom"
                        [(ngModel)]="userN.lastName"
                        name="userForm.lastName"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        required
                        matInput
                        placeholder="Email address"
                        [(ngModel)]="userN.email"
                        name="userForm.email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        required
                        matInput
                        type="password"
                        placeholder="Password"
                        [(ngModel)]="userN.password"
                        name="userForm.password"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input
                        required
                        matInput
                        placeholder="Date Naissance"
                        type="date"
                        [(ngModel)]="userN.birthDate"
                        name="userForm.birthDate"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
                [disabled]="!formuser.valid"
              >
                Ajouter
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="sm-2">
        <button mat-icon-button (click)="newUser()">
          <i class="material-icons">open_in_new</i>
        </button>
      </div>
    </div>

    <div class="row" *ngIf="submitted && isAdmin == true">
      <button
        mat-raised-button
        type="button"
        class="btn btn-danger pull-right"
        (click)="newUser()"
      >
        New
      </button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Liste des utilisateurs</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>Image</th>
                  <th>Nom</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of $users">
                    <td>
                      <div class="card-avatar">
                        <a href="javascript:void(0)">
                          <img
                            class="img"
                            src="./assets/img/faces/marc.jpg"
                            style="
                              border-radius: 50%;
                              overflow: hidden;
                              padding: 0;
                              width: 60px;
                              height: auto;
                            "
                          />
                        </a>
                      </div>
                    </td>
                    <td>{{ user.lastName }}</td>

                    <td class="td-actions">
                      <button
                        mat-raised-button
                        type="button"
                        class="btn btn-primary btn-link btn-sm btn-just-icon"
                        *ngIf="isAdmin == true"
                      >
                        <a routerLink="/user-profile/{{ user.id }}">
                          <i class="material-icons">edit</i>
                        </a>
                      </button>
                      <button
                        mat-raised-button
                        type="button"
                        class="btn btn-danger btn-link btn-sm btn-just-icon"
                        (click)="deleteUser(user)"
                        *ngIf="isAdmin == true"
                      >
                        <i class="material-icons">close</i>
                      </button>
                      <button
                        mat-raised-button
                        type="button"
                        class="btn btn-link btn-sm btn-just-icon"
                        (click)="addamiUser(user.id)"
                        *ngIf="isAdmin == false"
                      >
                        <i class="material-icons">add_task</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
