<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Profile</h4>
          </div>
          <div class="card-body">
            <form #formuser="ngForm" (ngSubmit)="saveUser()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      required
                      matInput
                      placeholder="Prénom"
                      type="text"
                      [(ngModel)]="firstName"
                      name="userForm.firstName"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      required
                      matInput
                      placeholder="Nom"
                      type="text"
                      [(ngModel)]="lastName"
                      name="userForm.lastName"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      required
                      matInput
                      placeholder="Date Naissance"
                      type="date"
                      [(ngModel)]="userForm.birthDate"
                      name="userForm.birthDate"
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      required
                      matInput
                      placeholder="Email address"
                      type="email"
                      [(ngModel)]="userForm.email"
                      name="userForm.email"
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Adress"
                      type="text"
                      [(ngModel)]="userForm.address"
                      name="userForm.Address"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Tele"
                      type="tel"
                      [(ngModel)]="userForm.phone"
                      name="userForm.phone"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="isadmin == false">
                  <mat-form-field class="example-full-width">
                    <mat-label>Centre d’intérêt</mat-label>
                    <mat-select [(ngModel)]="toppings" name="toppings" multiple>
                      <mat-option
                        *ngFor="let item of $interets"
                        [value]="item.id"
                      >
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row"></div>
              <div
                class="col-lg-6 col-md-12"
                *ngIf="userview.length > 0 && isadmin == false"
              >
                <div class="card">
                  <div class="card-header card-header-danger">
                    <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Liste des mes amis</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active">
                        <table class="table">
                          <tbody>
                            <tr *ngFor="let user of userview">
                              <td>{{ user.lastName }}</td>
                              <td class="td-actions text-right">
                                <button
                                  mat-raised-button
                                  type="button"
                                  matTooltip="Remove"
                                  [matTooltipPosition]="'above'"
                                  class="btn btn-danger btn-link btn-sm btn-just-icon"
                                  (click)="delateAmi(user)"
                                >
                                  <!-- data-toggle="modal"
                                    data-target="#exampleModal" -->
                                  <i class="material-icons">close</i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
                [disabled]="!formuser.valid"
              >
                Modifier
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img
              *ngIf="image != null"
              class="img"
              src="data:image/*;base64,{{ image }}"
            />
            <img
              *ngIf="image == null"
              class="img"
              src="./assets/img/faces/marc.jpg"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">
              {{ userForm.lastName }} {{ userForm.firstName }}
            </h4>
            <mat-form-field class="columns">
              <mat-label *ngIf="selectedFiles; else newFile">{{
                selectedFiles.item(0).name
              }}</mat-label>
              <ng-template #newFile>
                <mat-label>Choose file</mat-label>
              </ng-template>
              <input matInput disabled />
              <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              <input
                hidden
                (change)="upload($event)"
                #fileInput
                type="file"
                id="file"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ngx-spinner
        bdColer="rgba(51, 51, 51, 0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
      >
        <p styles="font-size: 50px; color: white">Loading...</p>
      </ngx-spinner>
    </div>
  </div>
</div>
